@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 86.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
  }

  .dark {
    --background: 210, 1%, 11%;
    --foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon:hover {
  transform: translateX(6px); /* Adjust the distance as needed */
}

.bell-icon {
  transition: transform 0.3s ease;
}

.bell-icon:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 0.5s;
}

.sidebar-item-content {
  transition: max-height 0.3s ease;
}

.progress-bar {
  height: 8px;
  background-color: #f3f4f6;
  border-radius: 4px;
  overflow: hidden;
}
.progress-bar-inner {
  height: 100%;
  background: linear-gradient(to right, #4fd1c5, #3b82f6);
}

.chart-container {
  flex: 1;
}

.input-error-message {
  @apply mt-2 text-sm text-red-600 dark:text-red-500
}

.authentication-type {
  @apply text-[1.25rem] font-semibold text-secondary-foreground mb-1.5;
}

.authentication-span-with-gradient {
  @apply relative my-12 text-xs text-secondary-foreground text-center block
  after:w-[45%] before:content-[''] before:w-[45%] before:h-1 before:rounded 
  before:absolute before:top-1/2 before:left-0 before:translate-x-0 
  before:translate-y-[-50%] before:bg-gradient-to-r after:content-[''] 
  after:h-1 after:rounded after:absolute after:top-1/2 after:right-0
  after:translate-x-0 after:translate-y-[-50%] after:bg-gradient-to-l 
  from-white to-gray-100
}

.authentication-input {
  @apply text-sm text-secondary-foreground  w-full outline-none 
  border-input transition-colors focus:border-primary focus:ring-0 
  placeholder:text-[#8c9097];   
}

.authentication-checkbox {
  @apply size-3.5 border-slate-300 rounded checked:bg-primary focus:border-primary 
  focus:checked:bg-primary focus:ring-0 hover:checked:bg-primary cursor-pointer;
}

.authentication-label {
  @apply block text-[.8rem] text-secondary-foreground font-semibold;
}

.authentication-button {
  @apply font-semibold text-white bg-primary rounded-lg py-[0.65rem] px-[1rem] mt-6;
}

.swiper-pagination {
  @apply static flex justify-center mt-8;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply bg-white opacity-50;
}

.swiper-button-disabled {
  @apply pointer-events-none opacity-40; 
}

.custom-bullet {
  @apply w-5 h-[4px] bg-gray-500 rounded-md;
}