@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 224 71.4% 4.1%;
    --primary: 242, 45%, 24%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 86.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
  }

  .dark {
    --background: 210, 1%, 11%;
    --foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
  }
  * {
    transition: color 300ms, background-color 300ms;
 }
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon:hover {
  transform: translateX(6px); /* Adjust the distance as needed */
}

.bell-icon {
  transition: transform 0.3s ease;
}

.bell-icon:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 0.5s;
}

.sidebar-item-content {
  transition: max-height 0.3s ease;
}

.progress-bar {
  height: 8px;
  background-color: #f3f4f6;
  border-radius: 4px;
  overflow: hidden;
}
.progress-bar-inner {
  height: 100%;
  background: linear-gradient(to right, #4fd1c5, #3b82f6);
}

.chart-container {
  flex: 1;
}

.input-error-message {
  @apply mt-2 text-sm text-red-600 dark:text-red-500;
}

.authentication-type {
  @apply mb-1.5 text-[1.25rem] font-semibold text-secondary-foreground;
}

.authentication-span-with-gradient {
  @apply relative my-12 block from-white to-gray-100 text-center text-xs text-secondary-foreground before:absolute before:left-0 before:top-1/2 before:h-1 before:w-[45%] before:translate-x-0 before:translate-y-[-50%] before:rounded before:bg-gradient-to-r before:content-[''] after:absolute after:right-0 after:top-1/2 after:h-1 after:w-[45%] after:translate-x-0 after:translate-y-[-50%] after:rounded after:bg-gradient-to-l after:content-[''];
}

.authentication-input {
  @apply w-full border-input text-sm text-secondary-foreground outline-none transition-colors placeholder:text-[#8c9097] focus:border-primary focus:ring-0;
}

.authentication-checkbox {
  @apply size-3.5 cursor-pointer rounded border-slate-300 checked:bg-primary hover:checked:bg-primary focus:border-primary focus:ring-0 focus:checked:bg-primary;
}

.authentication-label {
  @apply block text-[.8rem] font-semibold text-secondary-foreground;
}

.authentication-button {
  @apply mt-6 rounded-lg bg-primary px-[1rem] py-[0.65rem] font-semibold text-white;
}

.swiper-pagination {
  @apply static mt-8 flex justify-center;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply bg-white opacity-50;
}

.swiper-button-disabled {
  @apply pointer-events-none opacity-40;
}

.custom-bullet {
  @apply h-[4px] w-5 rounded-md bg-gray-500;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust to -100% for a full loop */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  will-change: transform; /* Hint to the browser for optimization */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.custom-ease {
  transition-timing-function: cubic-bezier(0.75, 0.05, 0.5, 0.77);
}
